.input-text-div {
  display: flex;
  justify-content: center;
  min-width: 200px;

  padding: 5px 20px;
}

.input-text-area {
  width: 300px;
  min-height: 80px;

  padding: 5px;
  border-radius: 5px;
  outline: none;
}
